*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #02394A;
    color: white;
    justify-content: center;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 25px;
}

.box img{
    width: 200px;
    padding-top: 30px;
}

.box span{
    padding-bottom: 30px;
}

#Gbtn{
    text-align: center;
}

#Gbtn button{
    color: white;
    background-color: #477889;
}

#ou{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 15px;
}

.campos{
    text-align: center;
}

.campos form input{
    border-radius: 10px;
    text-align: center;
    width: 350px;
}

.campos #data input{
    width: 80px;
}

.campos #priv{
    display: grid;
    padding-top: 15px;
    padding-bottom: 15px;
}

.campos #Conclus button{
    color: white;
    background-color: #477889;
}